/* Tablet khi scale lại tương tự với mobile */
@media screen and (max-width: 992px) {
  body {
    display: inline-block;
    width: 100%;
  }
  section {
    margin-top: 20px;
    width: 100%;
  }
  .icon {
    text-align: center;
  }

  /* Goals */
  .goal-item {
    display: inline-block;
    width: 100%;
    padding: 10px 20px 10px 20px;
  }

  /* Scopes */
  .scope-detail {
    display: inline-block;
  }

  /* Team */
  #team {
    display: inline-block;
  }
  .team-item {
    width: 100%;
    display: inline-block;
    border: none;
    padding: 10px 20px 10px 20px;
  }
  /* Primary */
  .primary-item {
    display: inline-block;
    width: 100%;
    padding: 10px 20px 10px 20px;
  }
  .primary-item p{
    padding-top: 10px;
  }

  /* timeline */
  .timeline-item{
    display: inline-block;
    width: 100%;
  }
  .timeline-item p{
    padding-bottom:10px ;
    width: 100%;
  }
}
